.card {
  width: 400px;
  height: 400px;
  margin: 1em;
  display: flex;
  flex-direction: column;

  /* box-shadow: 0px 0px 1em rgb(206, 103, 142); */
  border-radius: 50px;
}
.card p {
  text-indent: 3em;
  text-align: start;
}
.especialidade {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
