.container-portfolio {
  width: 100%;
  background-color: #d6aeb1;
  display: flex;
  justify-content: center;
}

.portifolio {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image {
  margin: 1em 1em;
  width: 70%;
}

.image img {
  border-radius: 25px;
}
