.container {
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
}
.navbar {
  min-height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
}
.navbar img {
  height: 9vmin;
  margin-left: 3em;
}

.navbar a {
  text-decoration: none;
  color: inherit;

  color: #000;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

#toggle,
.navbar label {
  display: none;
}
.menu {
  width: 100%;
}
.link-agendamento {
  background-color: #cdc3b7;
  width: 160px;
  height: 30px;
  border-radius: 25px;
  margin-left: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
  }
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .navbar label {
    display: inline;

    align-items: center;
    cursor: pointer;
  }
  .menu.mostrar {
    max-height: 100%;
    display: block;
  }
  i {
    font-size: 30px;
  }
  .logo-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
    margin-right: 2em;
  }
  .link-agendamento {
    margin: 0;
  }
}
